<template>
  <div v-loading="Loading" class="app-container">
    <h2>
      {{ $t('inst.基本信息') }}
    </h2>
    <el-table v-loading="listLoading" :data="list" border fit highlight-current-row style="width: 100%">
      <el-table-column align="center" :label="$t('inst.属性')" prop="key">
        <!-- <template slot-scope="scope">
          {{ scope.key }}
        </template> -->
      </el-table-column>

      <el-table-column align="center" min-width="300px" :label="$t('inst.值')">
        <template slot-scope="{row}">
          <template v-if="row.edit">
            <el-input v-model="row.value" class="edit-input" size="small" />
            <el-button
              class="cancel-btn"
              size="small"
              icon="el-icon-refresh"
              type="warning"
              @click="cancelEdit(row)"
            >
              {{ $t('inst.取消') }}
            </el-button>
          </template>
          <span v-else>{{ row.value }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" :label="$t('inst.操作')" width="120">
        <template slot-scope="{row}">
          <el-button
            v-if="row.edit"
            type="success"
            size="small"
            icon="el-icon-circle-check-outline"
            @click="SubmitChanged(row)"
          >
            {{ $t('inst.保存') }}
          </el-button>
          <el-button
            v-else
            type="primary"
            size="small"
            icon="el-icon-edit"
            @click="row.edit=!row.edit"
          >
            {{ $t('inst.编辑') }}
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <h2>
      {{ $t('inst.实时仪表监测值') }}
    </h2>
    <line-chart v-for="i in charts" :key="i.name" :chart-data="i.data" :chart-name="i.name" y-param="concentration" />
  </div>
</template>

<script>
import { getDetail, updateDetail } from '@/api/inst'
import LineChart from '@/components/Charts/LineChart'

export default {
  name: 'InstDetail',
  components: { LineChart },
  data() {
    return {
      istLoading: true,
      Loading: true,
      list: [],
      charts: []
    }
  },
  created() {
    this.fetchData()
  },
  methods: {
    fetchData() {
      this.listLoading = true
      this.Loading = true
      getDetail({ id: this.$route.params.id }).then(response => {
        const items = response.data.detail
        this.list = items.map(v => {
          this.$set(v, 'edit', false) // https://vuejs.org/v2/guide/reactivity.html
          v.originalTitle = v.value //  will be used when user click the cancel botton
          return v
        })
        this.listLoading = false
        console.log(this.list.value)
        this.charts = response.data.charts
        this.Loading = false
      })
    },
    SubmitChanged(row) {
      updateDetail({ id: this.$route.params.id,key: row.key, value: row.value }).then(response => {
        // 预期返回：{
        // code: 20000,
        //   data: {
        //   key: 'xxx',
        //     value: 'xxxx'
        // }
        row.value = row.originalTitle = response.data.value
        row.edit = false
        this.$message({
          dangerouslyUseHTMLString: true,
          message: 'The value has been changed.',
          type: 'success'
        })
      })
    },

    cancelEdit(row) {
      row.value = row.originalTitle
      row.edit = false
      this.$message({
        dangerouslyUseHTMLString: true,
        message: 'The value has been restored to the original value!',
        type: 'warning'
      })
    }

  }
}

</script>

<style scoped>
.edit-input {
  display: inline-block;
  width: calc(100% - 100px);
  vertical-align: middle;
}
.cancel-btn {
  display: inline-block;
  width: 80px;
  vertical-align: middle;
}
</style>
