.card {
  margin-bottom: 30px;
  overflow: visible;
  display: flex;
  flex-direction: column;
}
.real-title {
  color: #304156;
  font-weight: bold;
  font-size: 18px;
  margin-top: 8px;
  margin-bottom: 30px;
  text-align: center;
}
.title {
  color: #304156;
  font-weight: bold;
  font-size: 18px;
  margin-top: -40px;
}

.items-container {
  display: flex;
  flex-direction: column
}

.recommend {
  .card-unit{
    height: 30px;
    line-height: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    vertical-align: center;
    margin: 10px auto;
  }
  .card-unit .name{
    min-width: 80px;
    text-align: center;
  }
  .card-unit .unit{
    min-width: 40px;
  }
  .card-unit .value {
    line-height: 30px;
    height: 30px;
    width: 50px;
    color: #4be34b;
    font-weight: bold;
    background: black;
    padding: auto;
    text-align: center;
    margin: 0 6px;
  }}


.col {
  display: flex;
  flex-direction: column;
}
.detection {
  .row {
    display: flex;
    flex-direction: row;
  }

  .clo {
    font-size: 6px;
    line-height: 12px;
    vertical-align: top;
  }

  .value {
    line-height: 30px;
    height: 30px;
    width: 50px;
    color: #4be34b;
    font-weight: bold;
    background: black;
    padding: auto;
    text-align: center;
    margin: 0 2px;
  }

  .el-icon-caret-bottom, .el-icon-caret-right, .el-icon-caret-left {
    font-size: 20px;
    position: absolute;
  }
}
