<template>
  <div class="items">
    <mixer-col id="1" class="item" />
    <mixer-col id="2" class="item" />
  </div>
</template>

<script>
import MixerCol from './mixer-col'
export default {
  name: 'Mixer',
  components: { MixerCol }
}
</script>

<style lang="scss" scoped>
  @import './share.scss';
</style>
