<template>
  <div v-loading="loading">
    <h3 class="real-title">#{{ id }} {{ $t('paste.搅拌机') }}</h3>
    <div class="items-container">
      <el-card v-if="data != null" class="card" shadow="always">
        <div class="title">{{ $t('paste.智能推荐') }}</div>
        <div class="recommend col">
          <div style="display: flex;flex-direction: row;flex-wrap: wrap">
            <div class="card-unit">
              <div class="name">{{ $t('paste.水泥添加量') }}</div>
              <div class="value">{{ data.cement_sp }}</div>
              <div class="unit">T/H</div>
            </div>
            <div class="card-unit">
              <div class="name">{{ $t('paste.灰砂比例') }}</div>
              <div class="value">{{ data.cement_ratio_sp }}</div>
            </div>
          </div>
        </div>
      </el-card>
      <el-card v-if="data != null" class="card" shadow="always">
        <div class="title">{{ $t('paste.监测信息') }}</div>
        <div class="detection row" style="height: 100%;">
          <div class="row" style="height: 100%;width: 100%;position: relative;justify-content: flex-end">
            <div
              class="aside col"
              style="width: 6%;height: 100%;padding-right: 4px;justify-content: center;position: absolute;left: 0;"
            >
              <div
                style="height: 42%;width: 100%;position: relative;border-left: 4px solid #4be34b;border-top: 4px solid #4be34b;border-bottom: 4px solid #4be34b"
              >
                <div class="el-icon-caret-right" />
              </div>
              <div
                style="height: 34%;width: 100%;position: relative;border-left: 4px solid #4be34b;border-bottom: 4px solid #4be34b"
              >
                <div class="el-icon-caret-right" />
              </div>
            </div>
            <div class="main col" style="width: 94%;height: 100%">
              <div class="top row" style="justify-content: flex-start">
                <div class="left" style="position:relative;width: 20%;">
                  <img style="width: 100%;" src="@/assets/ck/tank.png" alt="img">
                  <div
                    style="position: absolute;font-weight: bold;font-size: small;top: 40%;width: 100%;text-align: center"
                  >
                    {{ $t('paste.工业水') }}
                  </div>
                </div>
                <div class="middle col" style="width: 57.6%;">
                  <div class="top" style="font-weight: bold;text-align: center">{{ $t('paste.底流') }}</div>
                  <div class="bottom row" style="height: 90%">
                    <div
                      class="left"
                      style="width: 50%;height: 100%;border-bottom: 2px solid black;border-right: 2px solid black;"
                    />
                    <div class="right col" style="width: 50%;">
                      <div class="row" style="justify-content: flex-start;margin-left: -27px;margin-bottom: 4px;">
                        <div class="value">{{ data.concentration_out }}</div>
                        <div class="unit">%</div>
                      </div>
                      <div class="row" style="justify-content: flex-start;margin-left: -27px;">
                        <div class="value">{{ data.flow_out }}</div>
                        <div class="unit">M<span class="clo">3</span>/H</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="right" style="width: 16%;position: relative;">
                  <div class="col" style="position: absolute;height: 100%;width: 100%;justify-content: flex-start">
                    <div style="height: 20%;width: 30%;background-color: #4be34b;margin: 4px 0" />
                    <div class="row" style="justify-content: center">
                      <div class="value">{{ data.cement_height }}</div>
                      <div class="unit">M</div>
                    </div>
                    <div style="font-weight: bold;font-size: small;text-align: center;margin-top: 15px">{{
                      $t('paste.水泥仓') }}
                    </div>
                  </div>
                  <img style="width: 100%;" src="@/assets/ck/cement-silo.png" alt="img">
                  <div
                    style="border-right: 2px solid black;height: 12px;width: 50%;position: relative;margin-top: -4px;margin-bottom: 2px"
                  >
                    <div class="el-icon-caret-bottom" />
                  </div>
                </div>
              </div>
              <div class="middle row">
                <div class="left col" style="width: 70%;">
                  <div class="top row" style="height: 40px;width: 100%;">
                    <div
                      class="left"
                      style="border-right: 2px solid black;width: 28.8%;height: 100%;position: relative"
                    >
                      <div class="el-icon-caret-bottom" />
                    </div>
                    <div
                      class="right"
                      style="height: 50%;width: 70%;border-bottom: 2px solid black;position: relative;"
                    >
                      <div class="el-icon-caret-left" />
                    </div>
                  </div>
                  <div class="bottom row" style="justify-content: flex-start">
                    <div class="left" style="width: 66%">
                      <div class="img" style="position: relative">
                        <div class="row" style="position: absolute;bottom: -10px;left: -10px;justify-content: center">
                          <div class="value">{{ data.height_1 }}</div>
                          <div class="unit">M</div>
                          <div class="value">{{ data.speed_1 }}</div>
                          <div class="unit">rpm</div>
                        </div>
                        <img style="width: 100%;" src="@/assets/ck/mixer.png" alt="img">
                      </div>
                      <div class="id" style="font-size: larger;font-weight: bolder;text-align: right;margin-top: 10px">
                        210AG01
                      </div>
                    </div>
                    <div
                      class="right"
                      style="height: 80px;width: 7%;margin-top: 9%;border-right: 2px solid black;border-top: 2px solid black;position: relative;margin-bottom: 2px"
                    >
                      <div class="el-icon-caret-bottom" />
                    </div>
                  </div>
                </div>
                <div class="right" style="width: 30%;position: relative;">
                  <div class="col" style="position: absolute;height: 100%;width: 100%;justify-content: flex-start">
                    <div class="row" style="justify-content: flex-start;margin-bottom: 4px;margin-left: 6px">
                      <div class="col">
                        <div style="font-size: x-small;color: red;text-align: center">{{ $t('paste.矫正值') }}</div>
                        <div class="value" style="width: 36px;height: 22px;line-height: 22px;color: #ff0;">6.08</div>
                      </div>
                      <div class="value">{{ data.cement_dosage }}</div>
                      <div class="unit">T/H</div>
                    </div>
                    <div class="row" style="justify-content: center">
                      <div class="value">{{ data.cement_sum }}</div>
                      <div class="unit">T</div>
                    </div>
                  </div>
                  <img src="@/assets/ck/powder-said.png" alt="img" style="width: 100%;">
                </div>
              </div>
              <div class="bottom row" style="width: 100%;padding-bottom: 20px;">
                <div class="left" style="width: 72%;position: relative;">
                  <div class="row" style="position: absolute;bottom: -10px;left: -10px;justify-content: center">
                    <div class="value">{{ data.height_2 }}</div>
                    <div class="unit">M</div>
                    <div class="value">{{ data.speed_2 }}</div>
                    <div class="unit">rpm</div>
                  </div>
                  <img src="@/assets/ck/mixer.png" alt="img" style="width: 100%;">
                </div>
                <div class="right" style="width: 40%">
                  <div style="height: 50%;border-bottom: 2px solid black;position: relative;">
                    <div class="value" style="position: absolute;left:40%;top: -30px;">{{ data.cement_ratio }}</div>
                    <div class="el-icon-caret-right" />
                  </div>
                  <div class="row" style="justify-content: center;margin-top: -16px;position: relative">
                    <div class="value">{{ data.final_concentration_out }}</div>
                    <div class="unit" style="margin-top: 14px">%</div>
                    <div class="value">{{ data.final_flow_out }}</div>
                    <div class="unit" style="margin-top: 14px">M<span class="clo">3</span>/H</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </el-card>
      <el-card class="card" shadow="always">
        <div class="title">{{ $t('paste.视频搅拌均匀度检测') }}</div>
        <div>
          <div class="video">
            <div class="v-group">
              <div class="v-title">{{ $t('paste.搅拌均匀指标') }}</div>
              <div class="v-value">{{ data.evenness_value }}</div>
            </div>
            <div class="v-group">
              <div class="v-title">{{ $t('paste.均匀状态') }}</div>
              <div class="v-value">{{ data.evenness_status }}</div>
            </div>
          </div>
          <div style="height: 300px;background-color: #99a9bf;margin-top: 10px;" />
        </div>
      </el-card>
      <el-card ref="charts" class="card" shadow="always">
        <div class="title">{{ $t('paste.数据可视化') }}</div>
        <line-chart v-for="i in charts" :key="i.name" :chart-data="i.data" :chart-name="i.name" :y-param="i.param" />
      </el-card>
    </div>
  </div>
</template>
<script>
import { getChartData, updateChartData, updateParas } from '@/api/paste'
import LineChart from '@/components/Charts/LineChart'

export default {
  name: 'MixerCol',
  components: { LineChart },
  props: {
    // eslint-disable-next-line vue/require-default-prop
    id: {
      type: String,
      require: true
    }
  },
  data() {
    return {
      charts: [],
      loading: true,
      data: null,
      interval1: null,
      interval2: null
    }
  }, created() {
    this.fetchData()
  },
  activated() {
    this.$refs.charts.$children.forEach(item => item.__resizeHandler())
  },
  deactivated() {
    if (this.interval1 != null) {
      clearInterval(this.interval1)
    }
    if (this.interval2 != null) {
      clearInterval(this.interval2)
    }
  },
  methods: {
    fetchData() {
      getChartData('mixer', this.id).then(response => {
        this.charts = response.data
        this.loading = false
        this.interval1 = setInterval(this.updateChartData, 60 * 1000) // 60秒一次更新
      })
      this.updateParas()
      this.interval2 = setInterval(this.updateParas, 3 * 1000) // 3秒一次更新
    },
    updateParas() {
      updateParas('mixer', this.id).then(response => {
        this.data = response.data
      })
    },
    updateChartData() {
      updateChartData('mixer', this.id, this.charts.map(item => {
        return [item.name, item.data[item.data.length - 1][0]]
      })).then(response => {
        // 视频处理
        // 图表处理
        response.data.map(item => {
          this.charts.forEach(data => {
            if (data.name === item.name) {
              item.data.map(i => {
                data.data.push(i)
              })
            }
          })
        })
      })
    }
  }
}
</script>
<style>
  .items-container .el-card__body {
    padding: 32px 20px 10px;
  }
</style>
<style lang="scss" scoped>
  @import './col.scss';

  .detection {
    .unit {
      margin-top: 12px;
    }

    .main .top .el-icon-caret-bottom {
      right: 0;
      margin-right: -11px;
    }

    .main .middle .left .top .el-icon-caret-bottom {
      bottom: 0;
      right: 0;
      margin-bottom: -8px;
    }

    .main .middle .left .top .el-icon-caret-left {
      bottom: 0;
      left: 0;
      margin-bottom: -11px;
      margin-left: -8px;
    }

    .main .middle .left .bottom .el-icon-caret-bottom {
      bottom: 0;
      right: 0;
      margin-bottom: -8px;
      margin-right: -11px;
    }

    .main .bottom .right .el-icon-caret-right {
      bottom: 0;
      right: 0;
      color: black;
      margin-bottom: -11px;
      margin-right: -8px;
    }

    .el-icon-caret-right {
      color: #4be34b;
      bottom: 0;
      right: 0;
      margin-bottom: -12px;
      margin-right: -8px;
    }
  }

  .video {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .v-group {
      display: flex;
      margin: 10px auto;

      .v-title {
        line-height: 30px;
        height: 30px;
      }

      .v-value {
        line-height: 30px;
        height: 30px;
        width: 50px;
        color: #4be34b;
        font-weight: bold;
        background: black;
        padding: auto;
        text-align: center;
        margin: 0 2px;
      }
    }
  }
</style>
