
.items {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;

}.item {
   display: flex;
   flex-direction: column;
   width: 49%;
 }

.title {
  height: 30px;
  line-height: 30px;
  width: 100%;
  text-align: center;
  font-weight: bolder;
}
