<template>
  <div v-loading="loading">
    <h3 class="real-title">#{{ id }} {{ $t('paste.浓密机') }}</h3>
    <div class="items-container">
      <el-card v-if="data != null" class="card" shadow="always">
        <div class="title">{{ $t('paste.智能推荐') }}</div>
        <div class="recommend col">
          <div style="display: flex;flex-direction: row;flex-wrap: wrap">
            <div class="card-unit">
              <div class="name">{{ $t('paste.耙架转速') }}</div>
              <div class="value">{{ data.rake_speed_sp }}</div>
              <div class="unit">rpm</div>
            </div>
            <div class="card-unit">
              <div class="name">{{ $t('paste.絮凝剂流量') }}</div>
              <div class="value">{{ data.flocculant_sp }}</div>
              <div class="unit">M<span class="clo">3</span>/H</div>
            </div>
            <div class="card-unit">
              <div class="name">{{ $t('paste.出料模式') }}</div>
              <div class="value">{{ data.mode_sp }}</div>
              <div class="unit" style="content: ' '" />
            </div>
            <div class="card-unit">
              <div class="name">{{ $t('paste.底流流量') }}</div>
              <div class="value">{{ data.flow_out_sp }}</div>
              <div class="unit">M<span class="clo">3</span>/H</div>
            </div>
            <div class="card-unit">
              <div class="name">{{ $t('paste.絮凝剂比例') }}</div>
              <div class="value">{{ data.dosage_sp }}</div>
              <div class="unit">g/T</div>
            </div>
            <div class="card-unit">
              <div class="name">{{ $t('paste.泥层压强') }}</div>
              <div class="value">{{ data.pressure_sp }}</div>
              <div class="unit">KPa</div>
            </div>
          </div>
        </div>
      </el-card>
      <el-card v-if="data != null" class="card" shadow="always">
        <div class="title">{{ $t('paste.监测信息') }}</div>
        <div class="detection col">
          <div class="top row">
            <div class="left row">
              <div class="value">{{ data.flow_in }}</div>
              <div class="unit">%</div>
              <div class="value">{{ data.concentration_in }}</div>
              <div class="unit">M<span class="clo">3</span>/H</div>
              <div class="el-icon-caret-bottom" />
            </div>
            <div class="right row">
              <div class="value">{{ data.flocculant }}</div>
              <div class="unit">M<span class="clo">3</span>/H</div>
              <div class="el-icon-caret-bottom" />
            </div>
          </div>
          <div class="middle row">
            <div class="left">
              <div class="row" style="margin-top: 60px;margin-bottom: 20px">
                <div class="row">
                  <div class="value row">{{ data.torque_1 }}</div>
                  <div class="unit">%</div>
                </div>
                <div class="row">
                  <div class="value row">{{ data.torque_2 }}</div>
                  <div class="unit">%</div>
                </div>
              </div>
              <div class="row" style="margin-bottom: 20px">
                <div class="row">
                  <div class="value row">{{ data.torque_3 }}</div>
                  <div class="unit">%</div>
                </div>
                <div class="row">
                  <div class="value row">{{ data.torque_4 }}</div>
                  <div class="unit">%</div>
                </div>
              </div>
            </div>
            <div class="middle">
              <div style="position: absolute;height: 100%;width: 100%;">
                <div class="row" style="margin-top: 40%;justify-content: space-between;">
                  <div style="height: 60px;width: 40px;background: #4be34b;margin-left: 4px;margin-top: -30px;" />
                  <div class="row">
                    <div class="value">{{ data.rake_speed }}</div>
                    <div class="unit" style="margin: 10px 20px 0 0">rpm</div>
                  </div>
                </div>
                <div style="margin-top: 14%;font-size: large;font-weight: bold;text-align: center">311TH01</div>
                <div class="row" style="margin-top: 6%;justify-content: flex-start;">
                  <div style="width: 50%;margin-right: -31px" />
                  <div class="value">{{ data.sand_height }}</div>
                  <div class="unit" style="margin-top: 10px">M</div>
                  <div class="col">
                    <div style="font-size: x-small;margin-top: -10px;text-align: center;color: #f00;">{{ $t('paste.矫正值')
                    }}
                    </div>
                    <div class="value" style="font-size: small;height: 25px;width: 35px;color: #ff0;line-height: 25px">
                      {{ data.sand_height_correct }}
                    </div>
                  </div>
                </div>
                <div class="row" style="margin-top: 10%;justify-content: flex-start;">
                  <div style="width: 50%;margin-right: -31px" />
                  <div class="value">{{ data.pressure }}</div>
                  <div class="unit" style="padding-top: 10px">kPa</div>
                </div>
              </div>
              <img style="height: auto;width: 100%;opacity: 0;" src="@/assets/ck/thickener.png" alt="img">
            </div>
            <div class="right col" style="justify-content: space-between">
              <div
                class="row"
                style="position:relative;margin-top: 35%;justify-content: center;border-top: 2px solid black"
              >
                <div class="value" style="margin-top: -16px;">{{ data.tur }}</div>
                <div class="unit">ppm</div>
                <div class="el-icon-caret-right" />
              </div>
              <div style="width: 50%;height: 70%;position: relative;bottom: -20px">
                <div
                  style="height: 100%;margin-left: 4px;border-top: 2px solid #4be34b;border-right: 2px solid #4be34b;"
                >
                  <div class="el-icon-caret-left" />
                </div>
              </div>
            </div>
          </div>
          <div class="bottom row" style="height: 50px;width: 100%;">
            <div class="left row" style="width: 50%;justify-content: flex-end;height: 20px;">
              <div
                style="border-bottom: 2px solid black;border-left: 2px solid black;height: 45px;margin-top: -25px;width: 30%"
              >
                <div class="row" style="margin-top: -30px;margin-left: -30px;width: 90px">
                  <div class="value">{{ data.dilution_thin }}</div>
                  <div class="unit" style="margin-top: 10px">M<span class="clo">3</span>/H</div>
                </div>
              </div>
              <div
                style="border-bottom: 2px solid black;border-left: 2px solid black;height: 45px;margin-top: -25px;width: 60%;position: relative;margin-right: 6px"
              >
                <div class="row" style="margin-top: -30px;margin-left: -30px;width: 90px">
                  <div class="value">{{ data.dilution_thick }}</div>
                  <div class="unit" style="margin-top: 10px">M<span class="clo">3</span>/H</div>
                </div>
                <div class="el-icon-caret-right" />
              </div>
            </div>
            <div class="right row" style="width: 50%;justify-content: flex-start;margin-bottom: 30px">
              <div style="width: 70%;height: 20px;border-bottom: 2px solid #4be34b;border-left: 2px solid #4be34b;">
                <div class="row" style="justify-content: center;margin-top: 4px">
                  <div class="value">{{ data.concentration_out }}</div>
                  <div class="unit" style="margin-top: 14px">%</div>
                  <div class="value">{{ data.flow_out }}</div>
                  <div class="unit" style="margin-top: 14px">M<span class="clo">3</span>/H</div>
                </div>
              </div>
              <div class="row" style="width: 30%;height: 20px;border-bottom: 2px solid red;position: relative">
                <div class="value" style="margin-top: -16px">{{ data.mode }}</div>
                <div class="el-icon-caret-right" />
              </div>
            </div>
          </div>
        </div>
      </el-card>
      <el-card ref="charts" class="card" shadow="always">
        <div class="title">{{ $t('paste.数据可视化') }}</div>
        <line-chart v-for="i in charts" :key="i.name" :chart-data="i.data" :chart-name="i.name" :y-param="i.param" />
      </el-card>
    </div>
  </div>
</template>
<script>
import LineChart from '@/components/Charts/LineChart'
import { getChartData, updateChartData, updateParas } from '@/api/paste'

export default {
  name: 'ThickenerCol',
  components: { LineChart },
  props: {
    // eslint-disable-next-line vue/require-default-prop
    id: {
      type: String,
      require: true
    }
  },
  data() {
    return {
      charts: [],
      loading: true,
      data: null,
      interval1: null,
      interval2: null
    }
  },
  created() {
    this.fetchData()
  },
  activated() {
    this.$refs.charts.$children.forEach(item => item.__resizeHandler())
  },
  deactivated() {
    if (this.interval1 != null) {
      clearInterval(this.interval1)
    }
    if (this.interval2 != null) {
      clearInterval(this.interval2)
    }
  },
  methods: {
    fetchData() {
      getChartData('thickener', this.id).then(response => {
        this.charts = response.data
        this.loading = false
        this.interval1 = setInterval(this.updateChartData, 60 * 1000) // 60秒一次更新
      })
      this.updateParas()
      this.interval2 = setInterval(this.updateParas, 3 * 1000) // 3秒一次更新
    },
    updateParas() {
      updateParas('thickener', this.id).then(response => {
        this.data = response.data
      })
    }, updateChartData() {
      updateChartData('thickener', this.id, this.charts.map(item => {
        return [item.name, item.data[item.data.length - 1][0]]
      })).then(response => {
        response.data.map(item => {
          this.charts.forEach(data => {
            if (data.name === item.name) {
              item.data.map(i => {
                data.data.push(i)
              })
            }
          })
        })
      })
    }
  }

}
</script>
<style>
  .items-container .el-card__body {
    padding: 32px 20px 10px;
  }
</style>
<style lang="scss" scoped>
  @import './col.scss';

  .detection {
    .top {
      padding-top: 20px;
      justify-content: center;
    }

    .top .value {
      min-width: 40px;
      margin-top: -16px;
    }

    .top .left, .top .right {
      width: 40%;
      position: relative;
      border-top: 2px solid black;
      height: 30px;
      margin-bottom: 6px;
      justify-content: center;
    }

    .top .left {
      border-right: 2px solid black;
      margin-right: 10px;
    }

    .top .left .el-icon-caret-bottom {
      bottom: 0;
      right: 0;
      margin: 0 -11px -10px 0;
    }

    .top .right {
      border-left: 2px solid black;
      margin-left: 10px;
    }

    .top .right .el-icon-caret-bottom {
      bottom: 0;
      left: 0;
      margin: 0 0 -10px -11px;
    }

    .middle .left, .middle .right {
      width: 30%;
    }

    .middle .left .value {
      width: 40px;
      margin: 0 4px 0 6px;
    }

    .middle .left .row {
      justify-content: center;
    }

    .middle .left .unit {
      font-weight: bold;
      vertical-align: bottom;
      padding-top: 10px;
    }

    .middle .middle {
      width: 40%;
      position: relative;
      background: url("../../../../assets/ck/thickener.png");
      background-size: 100% 100%;
    }

    .middle .right .el-icon-caret-right {
      right: 0;
      margin: -11px -10px 0 0;
    }

    .bottom .el-icon-caret-right {
      right: 0;
      bottom: 0;
      margin: 0 -10px -11px 0;
    }

    .bottom .right .el-icon-caret-right {
      color: red;
    }

    .el-icon-caret-left {
      color: #4be34b;
      margin: -11px 0 0 -10px;
    }
  }
</style>
