<template>
  <div class="items">
    <thickener-col id="1" class="item" />
    <thickener-col id="2" class="item" />
  </div>
</template>

<script>
import ThickenerCol from './thickener-col'
export default {
  name: 'Thickener',
  components: { ThickenerCol }
}
</script>

<style lang="scss" scoped>
  @import './share.scss';
</style>
