<template>
  <div>
    <div style="display: flex;flex-direction: row;justify-content: space-around;">
      <div class="title">{{ $t('paste.搅拌均匀指标') }}</div>
      <div class="value">0.675</div>
      <div class="title">{{ $t('paste.均匀状态') }}</div>
      <div class="value">较均匀</div>
    </div>
    <div style="height: 300px;background-color: #99a9bf;margin-top: 20px;" />
  </div>
</template>

<script>
export default {
  name: 'Video'
}
</script>

<style scoped>
  .title{
    line-height: 30px;
    height: 30px;
  }
  .value{
    line-height: 30px;
    height: 30px;
    width: 50px;
    color: #4be34b;
    font-weight: bold;
    background: black;
    padding: auto;
    text-align: center;
    margin: 0 2px;
  }
</style>
