<template>
  <div :class="className" :style="{height:height,width:width}" />
</template>

<script>
import echarts from 'echarts'
require('echarts/theme/macarons') // echarts theme
import resize from './mixins/resize'

export default {
  mixins: [resize],
  props: {
    className: {
      type: String,
      default: 'chart'
    },
    width: {
      type: String,
      default: '100%'
    },
    height: {
      type: String,
      default: '350px'
    },
    chartData: {
      type: Array,
      required: true
    },
    chartName: {
      type: String,
      default: ''
    },
    yParam: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      chart: null,
      Y: {
        concentration: {
          name: '浓度',
          min: 0,
          max: 100,
          scale: 10,
          unit: '%'
        },
        flow: {
          name: '流量',
          min: 0,
          max: 300,
          scale: 10,
          unit: 'm^3/h'
        },
        density: {
          name: '密度',
          min: 0.8,
          max: 2,
          scale: 0.1,
          unit: 'kg/m^3'
        },
        pressure: {
          name: '压强',
          min: 10,
          max: 80,
          scale: 10,
          unit: 'kPa'
        },
        height: {
          name: '高度',
          min: 0,
          max: 10,
          scale: 1,
          unit: 'm'
        },
        weight_g: {
          name: '重量',
          min: 0,
          max: 30,
          scale: 5,
          unit: 'g/h'
        },
        weight_T: {
          name: '重量',
          min: 0,
          max: 10,
          scale: 1,
          unit: 'T/h'
        },
        frequency: {
          name: '次数',
          min: 0,
          max: 100,
          scale: 10,
          unit: '次'
        },
        rpm: {
          name: '转速',
          min: 0,
          max: 200,
          scale: 10,
          unit: 'rpm'
        }
      }
    }
  },
  watch: {
    chartData: {
      deep: true,
      handler() {
        this.updateData()
      }
    }
  },
  mounted() {
    this.initChart()
  },
  beforeDestroy() {
    if (!this.chart) {
      return
    }
    this.chart.dispose()
    this.chart = null
  },
  methods: {
    updateData() {
      if (this.chart != null) {
        this.chart.setOption({
          series: [{
            data: this.chartData
          }]
        })
      }
    },
    setOptions() {
      const options = {
        title: {
          text: this.chartName,
          textStyle: {
            color: '#333',
            fontWeight: 'bold'
          },
          padding: [10, 0]
        },
        grid: {
          left: 30,
          right: 30,
          bottom: 20,
          top: 50,
          containLabel: true
        },
        tooltip: {
          trigger: 'axis',
          padding: [5, 10]
          // formatter: '{a}:{b}: {c} ' + this.Y[this.yParam].unit
        },
        dataZoom: [{
          // startValue: '2012-06-01',
        }, {
          type: 'inside'
        }],
        xAxis: {
          type: 'time', // time
          axisTick: {
            show: false
          }
        },
        yAxis: {
          type: 'value',
          min: this.Y[this.yParam].min,
          max: this.Y[this.yParam].max,
          axisLabel: {
            formatter: '{value}' + this.Y[this.yParam].unit
          },
          splitLine: {
            show: true
          },
          axisTick: {
            show: false
          }
        },
        series: [{
          name: this.Y[this.yParam].name,
          type: 'line',
          smooth: false,
          data: this.chartData,
          animationDuration: 2800,
          animationEasing: 'quadraticOut'
        }]
      }
      if (this.chartName !== '') {
        options.title = {
          text: this.chartName,
          textStyle: {
            color: '#333',
            fontWeight: 'bold'
          },
          padding: [10, 0]
        }
      }
      this.chart.setOption(options)
    },
    initChart() {
      this.chart = echarts.init(this.$el, 'macarons')
      this.setOptions(this.chartData)
    }
  }
}
</script>
