<template>
  <div v-loading="loading" class="dashboard-container">
    <!--    <div>-->
    <!--      <el-radio-group v-model="timeSpan" size="medium">-->
    <!--        <el-radio-button :label="0">{{ $t('dataset.最近24小时') }}</el-radio-button>-->
    <!--        <el-radio-button :label="1">{{ $t('dataset.最近7天') }}</el-radio-button>-->
    <!--      </el-radio-group>-->
    <!--    </div>-->
    <!--    <line-chart :chart-data="lineChartData1" chart-name="进料浓度" y-param="concentration" />-->
    <!--    <line-chart :chart-data="lineChartData1" chart-name="进料流量" y-param="flow" />-->
    <!--    <line-chart :chart-data="lineChartData1" chart-name="浓密机底流浓度" y-param="concentration" />-->
    <!--    <line-chart :chart-data="lineChartData1" chart-name="充填浓度" y-param="concentration" />-->
    <!--    <line-chart :chart-data="lineChartData1" chart-name="充填流量" y-param="flow" />-->
    <!--    <line-chart :chart-data="lineChartData1" chart-name="水泥流量" y-param="flow" />-->
    <template v-if="!loading">
      <warning-chart :chart-data="chartData_warning" />
      <line-chart v-for="i in charts" :key="i.name" :chart-data="i.data" :chart-name="i.name" :y-param="i.param" />
    </template>
    <div v-else style="height: 300px;width: 100%"/>
  </div>
</template>

<script>
import LineChart from '@/components/Charts/LineChart'
import { getData, updateData } from '@/api/dataset'
import WarningChart from '@/views/dashboard/components/WarningChart'

require('echarts/theme/macarons') // echarts theme
export default {
  name: 'dataset',
  components: {
    WarningChart,
    LineChart
  },
  data() {
    return {
      loading: true,
      chartData_warning: [],
      charts: []
    }
  },
  created() {
    this.fetchData()
  },
  methods: {
    fetchData() {
      getData().then(response => {
        this.charts = response.data.charts
        this.chartData_warning = response.data.warning
        this.loading = false
        setInterval(this.updateData, 60 * 1000) // 1分钟一次更新
      })
    },
    updateData() {
      updateData(this.charts.map(item => {
        const a = {}
        a[item.name] = item.data[item.data.length - 1][0]
        return a
      })).then(response => {
        response.data.map(item => {
          this.charts.forEach(data => {
            if (data.name === item.name) {
              item.data.map(i => {
                data.data.push(i)
              })
            }
          })
        })
      })
    }
  }
}
</script>
<style lang="scss" scoped>
  .dashboard {
    &-container {
      margin: 30px;
    }
  }

  .chart-wrapper {
    background: #fff;
    padding: 16px 16px 0;
    margin-bottom: 32px;
  }

  @media (max-width: 1024px) {
    .chart-wrapper {
      padding: 8px;
    }
  }

  .chart {
    width: 100%;
    height: 350px;
    margin-top: 30px;
  }
</style>
