<template>
  <div style="height:350px;width:100%;margin-top: 30px;" />
</template>

<script>
import echarts from 'echarts'
require('echarts/theme/macarons') // echarts theme
import resize from '@/components/Charts/mixins/resize'
export default {
  name: 'WarningChart',
  mixins: [resize],
  props: {
    chartData: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      chart: null
    }
  },
  watch: {
    chartData: {
      deep: true,
      handler(val) {
        this.setOptions()
      }
    }
  },
  mounted() {
    this.initChart()
  },
  methods: {
    initChart() {
      this.chart = echarts.init(this.$el, 'macarons')
      this.setOptions()
    },
    setOptions() {
      this.chart.setOption({
        title: {
          text: this.$t('index.报警次数'),
          textStyle: {
            color: '#333',
            fontWeight: 'bold'
          },
          padding: [10, 0]
        },
        dataZoom: [{
          // startValue: '2012-06-01',
        }, {
          type: 'inside'
        }],
        dataset: { source: this.chartData },
        color: ['#1E88E5', '#FFA726'],
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'shadow'
          }
        },
        grid: {
          left: 10,
          right: 10,
          bottom: 20,
          top: 50,
          containLabel: true
        },
        xAxis: [
          {
            type: 'category',
            axisTick: { show: false },
            axisLabel: { interval: 2 }
          }
        ],
        yAxis: [
          {
            type: 'value'
          }
        ],
        series: [
          {
            name: 'Bytes received',
            type: 'bar',
            barGap: 0,
            barCategoryGap: '30%'
          },
          {
            name: 'Bytes sent',
            type: 'bar',
            barCategoryGap: '40%'
          }
        ]
      })
    }
  }
}
</script>

<style scoped>

</style>
