<template>
  <div class="app-container">
    <div class="filter-container">
      <el-date-picker
        v-model="listQuery.date"
        style="vertical-align: middle;margin-bottom: 10px"
        type="daterange"
        unlink-panels
        :range-separator="$t('calendar.至')"
        :start-placeholder="$t('calendar.开始日期')"
        :end-placeholder="$t('calendar.结束日期')"
        :picker-options="pickerOptions"
      />
      <div class="filter-item" style="margin-left: 10px">
        <span>{{ $t('log.是否采纳') }}:</span>
      </div>
      <el-select v-model="listQuery.adoption" :placeholder="$t('log.是否采纳')" style="vertical-align: middle;margin-bottom: 10px;margin-left: 10px;width: 100px">
        <el-option
          v-for="item in options"
          :key="item.value"
          :label="item.label"
          :value="item.value"
        />
      </el-select>
      <el-input v-model="listQuery.instrument" :placeholder="$t('log.仪器名称')" style="width: 200px;margin-left: 10px" class="filter-item" @keyup.enter.native="handleFilter" />
      <el-button v-waves class="filter-item" style="margin-left: 10px;" type="primary" icon="el-icon-search" @click="handleFilter">
        {{ $t('table.search') }}
      </el-button>
      <el-button v-waves :loading="downloadLoading" class="filter-item" type="primary" icon="el-icon-download" @click="handleDownload">
        {{ $t('table.export') }}
      </el-button>
    </div>

    <el-table
      v-loading="listLoading"
      :data="list"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >
      <el-table-column align="center" label="#">
        <template slot-scope="scope">
          {{ scope.$index + 1 }}
        </template>
      </el-table-column>
      <el-table-column :label="$t('log.时间')" align="center" width="200">
        <template slot-scope="scope">
          {{ scope.row.time }}
        </template>
      </el-table-column>
      <el-table-column :label="$t('log.充填负责人')" align="center">
        <template slot-scope="scope">
          {{ scope.row.principal }}
        </template>
      </el-table-column>
      <el-table-column :label="$t('log.操作点位')" align="center">
        <template slot-scope="scope">
          {{ scope.row.instrument }}
        </template>
      </el-table-column>
      <el-table-column align="center" prop="created_at" :label="$t('log.原参数')">
        <template slot-scope="scope">
          {{ scope.row.Original_parameter }}
        </template>
      </el-table-column>
      <el-table-column align="center" prop="created_at" :label="$t('log.修改后参数')">
        <template slot-scope="scope">
          {{ scope.row.Modified_parameter }}
        </template>
      </el-table-column>
      <el-table-column align="center" prop="created_at" :label="$t('log.是否采纳')">
        <template slot-scope="scope">
          {{ scope.row.adoption }}
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="listQuery.page" :limit.sync="listQuery.limit" @pagination="fetchData" />

  </div>
</template>

<script>
import { getLog } from '@/api/log'
import waves from '@/directive/waves' // waves directive
import { parseTime } from '@/utils'
import Pagination from '@/components/Pagination' // secondary package based on el-pagination

export default {
  components: { Pagination },
  directives: { waves },
  filters: {
    statusFilter(status) {
      const statusMap = {
        published: 'success',
        draft: 'gray',
        deleted: 'danger'
      }
      return statusMap[status]
    }
  },
  data() {
    return {
      list: null,
      listLoading: true,
      total: 0,
      listQuery: {
        page: 1,
        limit: 10,
        date: null,
        adoption: 'all'
      },
      downloadLoading: false,
      options: [{
        value: 'all',
        label: this.$t('log.全部')
      }, {
        value: 'true',
        label: this.$t('log.是')
      }, {
        value: 'false',
        label: this.$t('log.否')
      }],
      pickerOptions: {
        shortcuts: [{
          text: this.$t('calendar.最近一周'),
          onClick(picker) {
            const end = new Date()
            const start = new Date()
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 7)
            picker.$emit('pick', [start, end])
          }
        }, {
          text: this.$t('calendar.最近一个月'),
          onClick(picker) {
            const end = new Date()
            const start = new Date()
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30)
            picker.$emit('pick', [start, end])
          }
        }, {
          text: this.$t('calendar.最近三个月'),
          onClick(picker) {
            const end = new Date()
            const start = new Date()
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 90)
            picker.$emit('pick', [start, end])
          }
        }]
      },
      value: ''
    }
  },
  created() {
    this.fetchData()
  },
  methods: {
    fetchData() {
      this.listLoading = true
      getLog('recommend', this.listQuery).then(response => {
        this.list = response.data.items
        this.total = response.data.total
        this.listLoading = false
      })
    },
    handleFilter() {
      this.listQuery.page = 1
      this.fetchData()
    },
    handleDownload() {
      this.downloadLoading = true
      import('@/vendor/Export2Excel').then(excel => {
        const tHeader = ['id', 'time', 'principal', 'instrument', 'Original_parameter', 'Modified_parameter', 'adoption']
        const filterVal = ['id', 'time', 'principal', 'instrument', 'Original_parameter', 'Modified_parameter', 'adoption']
        const data = this.formatJson(filterVal, this.list)
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: 'log_recommend_list_page' + this.listQuery.page
        })
        this.downloadLoading = false
      })
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => {
        if (j === 'timestamp') {
          return parseTime(v[j])
        } else {
          return v[j]
        }
      }))
    }
  }
}
</script>
<style>
  .el-date-editor .el-range-separator{
    width: auto;
  }
</style>
