body {
	margin: 0;
	background-color: transparent;
	color: #fff;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
}
html,body,#glFullscreen {
  height: 100%;
}
a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

canvas {
	display: block;
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	z-index: 1; /* TODO Solve this in HTML */
}

.dg.ac {
	z-index: 2 !important; /* TODO Solve this in HTML */
}
