<template>
  <el-tabs v-model="activeName" type="card" class="paste-container">
    <el-tab-pane :label="$t('paste.数据总表1')" name="thickener1">
      <keep-alive>
        <Thickener1 v-if="activeName === 'thickener1'" />
      </keep-alive>
    </el-tab-pane>
    <el-tab-pane :label="$t('paste.数据总表2')" name="thickener2">
      <keep-alive>
        <Thickener2 v-if="activeName === 'thickener2'" />
      </keep-alive>
    </el-tab-pane>
  </el-tabs>
</template>

<script>
import Thickener1 from '@/views/dashboard/components/thickener1'
import Thickener2 from '@/views/dashboard/components/thickener2'

export default {
  name: 'Dashboard',
  components: { Thickener1, Thickener2 },
  data() {
    return {
      activeName: 'thickener1'
    }
  }
}
</script>

<style lang="scss">
  .paste-container .el-tabs__nav-wrap {
    width: 100%;
  }
</style>
