<template>
  <div class="dashboard-container">
    <el-row type="flex" class="row-bg outer" justify="space-around">
      <el-col :xs="18" :md="6">
        <div class="grid-content bg-purple">
          <el-card shadow="always">
            <router-link :to="'/dashboard/paste-preparation-system/'" class="link-type">
              <div class="card">
                <div class="card-item"><p>{{ $t('index.膏体制备系统') }}</p><h4>{{ index.m1 ===
                  'loading'?$t('loading'):$t('index.'+index.m1) }}</h4></div>
                <img
                  class="card-item img"
                  src="@/assets/u144.png"
                  alt="img"
                ></div>
            </router-link>
          </el-card>
          <div class="info">
            <p>{{ $t('index.灰砂比值') }}：{{ index.h1 === 'loading'? $t('loading'):index.h1 }}</p>
            <p>{{ $t('index.充填浓度') }}：{{ index.h2 === 'loading'? $t('loading'):index.h2.toString()+'%' }}</p>
            <p>{{ $t('index.底流浓度') }}：{{ index.h3 === 'loading'? $t('loading'):index.h3.toString()+'%' }}</p>
          </div>
        </div>
      </el-col>
      <el-col :xs="18" :md="6">
        <div class="grid-content bg-purple">
          <el-card shadow="always">
            <div class="card">
              <div class="card-item"><p>{{ $t('index.井下输送系统') }}</p><h4>{{ index.m2 ===
                'loading'?$t('loading'):$t('index.'+index.m2) }}</h4></div>

              <img
                class="card-item img"
                src="@/assets/u140.png"
                alt="img"
              ></div>
          </el-card>
          <div class="info">
            <p>{{ $t('index.满管率') }}：{{ index.h4 === 'loading'? $t('loading'):index.h4.toString()+'%' }}</p>
            <p>{{ $t('index.空气柱') }}：{{ index.h5 === 'loading'? $t('loading'):index.h5.toString()+'m' }}</p>
          </div>
        </div>
      </el-col>
      <el-col :xs="18" :md="6">
        <div class="grid-content bg-purple">
          <el-card shadow="always">
            <div class="card">
              <div class="card-item"><p>{{ $t('index.采场充填系统') }}</p><h4>&nbsp;{{ index.h9 === 'loading'?
                $t('loading'):index.h9.toString()+'%' }}</h4></div>
              <div class="card-item img progress-parent">
                <el-progress
                  class="progress"
                  :percentage="index.h9!=='loading'?index.h9:0"
                  :stroke-width="25"
                  :text-inside="true"
                  color="black"
                  type="line"
                />
                <div class="cover-outer">
                  <div class="cover" />
                </div>
              </div>
            </div>
          </el-card>
          <div class="info">
            <p>{{ $t('index.采场编号') }}：{{ index.h10 === 'loading'? $t('loading'):index.h10 }}</p>
            <p>{{ $t('index.预计完成') }}：{{ index.h6 === 'loading'? $t('loading'):index.h6.toString()+'h' }}</p>
            <p>{{ $t('index.充填流量') }}：{{ index.h7 === 'loading'? $t('loading'):index.h7 }}
              <template v-if="index.h7==='loading'">m<sup>3</sup>/h</template>
            </p>
            <p>{{ $t('index.矿体体积') }}：{{ index.h8 === 'loading'? $t('loading'):index.h8 }}m<sup>3</sup></p>

          </div>
        </div>
      </el-col>
    </el-row>
  </div>
</template>

<script>
export default {
  name: 'Dashboard',
  data() {
    return {
      index: {
        h1: 'loading',
        h2: 'loading',
        h3: 'loading',
        h4: 'loading',
        h5: 'loading',
        h6: 'loading',
        h7: 'loading',
        h8: 'loading',
        h9: 'loading',
        h10: 'loading',
        m1: 'loading',
        m2: 'loading'
      }
    }
  },
  sockets: {
    index: function(data) {
      for (const k in data) {
        this.index[k] = data[k]
      }
    }
  }
}
</script>
<style>
  .el-progress-bar__outer {
    /*border: 2px solid black;*/
    background-color: transparent;
  }
  .el-progress-bar__innerText {
    display: none;
  }
  .el-progress-bar__inner{
    border-radius: unset;
  }
</style>
<style lang="scss" scoped>
  .cover-outer {
    position: relative;
    width: 0;
    height: 0;
    transform: translateY(-50%);
  }
  .cover {
    position: absolute;
    width: 112px;
    height: 27px;
    margin-top: -13.5px;
    margin-left: -120px;
    background: url(../../assets/u143.png);
    background-size: 100% 100%;
  }
  .progress-parent {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    min-width: 128px;
  }

  .progress {
    width: 86%;
    margin: auto;
  }

  .info {
    padding: 10px;
  }

  .outer {
    flex-wrap: wrap;
  }

  .card {
    display: flex;
    justify-content: space-around;
  }

  .card-item {
    align-self: center;
  }

  .img {
    height: 128px;
    width: 128px;
  }

  .dashboard {
    &-container {
      margin: 30px;
    }
  }
</style>
