<template>
  <div style="padding: 5px 0">
    <iframe style="width: 100%;" frameborder="0" :style="{height: r1height}" :src="'/three/webgl_loader_obj2.html#' + this.$route.params.id" /></div>
</template>

<script>
var elementResizeDetectorMaker = require('element-resize-detector')
export default {
  data() {
    return {
      r1height: 0
    }
  },
  mounted() {
    var erd = elementResizeDetectorMaker()
    var l = this
    erd.listenTo(this.$el, function(element) {
      l.init()
    })
    this.init()
  },
  methods: {
    init() {
      this.r1height = (this.$el.offsetWidth - 10).toString() + 'px'
    }
  }
}
</script>

<style scoped>

</style>
