<template>
  <div class="app-container">
    <div v-loading="loading" class="stope-detail-container" >
      <h2 style="text-align: center;margin: 0 0 2rem 0;">{{ $t('stope.采场历史概况与综合评价') }}</h2>
      <el-row type="flex" class="row-bg" justify="space-around">
        <el-col :span="7">
          <RadarChart />
        </el-col>
        <el-col :span="7">
          <three />
        </el-col>
        <el-col :span="7">
          <LineChart />
        </el-col>
      </el-row>

      <el-row type="flex" class="row-bg hero" justify="center">
        <el-col :span="7" class="details-info" >
          <el-card class="box-card details-info-box" style="height: 100%;" >
            <span>{{ $t('stope.采场编号') }}：NO.{{ data.details.serial }}</span>
            <span>{{ $t('stope.创建时间') }}：{{ data.details.create_time }}</span>
            <span>{{ $t('stope.填充百分比') }}：<el-progress type="circle" :percentage="data.details.percentage" :stroke-width="6" :width="40" /></span>
            <span>{{ $t('stope.预计剩余时间') }}：{{ data.details.remaining }}</span>
          </el-card>
        </el-col>
        <el-col :span="16" class="details-table">

          <el-card class="box-card">
            <h4 style="text-align: center;margin: 0 0 0rem 0;">{{ $t('stope.物料指标') }}</h4>
            <el-table
              :data="data.tableData1"
              style="width: 100%"
            >

              <el-table-column
                prop="cement_cumulative"
                :label="$t('stope.水泥累积消耗')"
                align="center"
              />
              <el-table-column
                prop="cement_average"
                :label="$t('stope.水泥平均消耗')"
                align="center"
              />
              <el-table-column
                prop="flocculant_cumulative"
                :label="$t('stope.絮凝剂累积消耗')"
                align="center"
              />
              <el-table-column
                prop="flocculant_average"
                :label="$t('stope.絮凝剂平均消耗')"
                align="center"
              />

            </el-table>
          </el-card>

          <el-card class="box-card">
            <h4 style="text-align: center;margin: 0rem 0 0rem 0;">{{ $t('stope.质量指标') }}</h4>
            <el-table
              :data="data.tableData2"
              style="width: 100%"
            >
              <el-table-column
                prop="statistical"
                :label="$t('stope.统计指标')"
                align="center"
              />
              <el-table-column
                prop="mean"
                :label="$t('stope.均值')"
                align="center"
              />
              <el-table-column
                prop="standard"
                :label="$t('stope.标准差')"
                align="center"
              />
              <el-table-column
                prop="quarter"
                :label="$t('stope.四分之一分位点')"
                align="center"
              />
              <el-table-column
                prop="threeQuarters"
                :label="$t('stope.四分之三分位点')"
                align="center"
              />
            </el-table>
          </el-card>

        </el-col>
      </el-row>

      <div class="filter-container1">
        <h4 style="text-align: center;margin: 2rem 0 0rem 0;" class="filter-item1">{{ $t('stope.单次充填记录概览') }}</h4>    
        
        <el-button
          type="success"
          class="filter-item2"
          
          size="small"
          icon="el-icon-circle-check-outline"
          @click="SubmitChanged()"
        >
          {{ $t('inst.保存') }}
        </el-button> 
        <el-button
          class="filter-item2"
          
          size="small"
          icon="el-icon-refresh"
          type="warning"
          @click="cancelEdit()"
        >
          {{ $t('inst.取消') }}
        </el-button>
         
        <el-button v-waves class="filter-item2"  type="primary" icon="el-icon-download" @click="goToDown">
          {{ $t('stope.导出') }}
        </el-button>
      </div>

      <el-table
      :data="data.tableData3"
      style="width: 100%"
    >
      <el-table-column :label="$t('stope.充填轮次')" align="center">
        <template slot-scope="scope">
          {{ scope.row.rounds }}
        </template>
      </el-table-column>
      <el-table-column :label="$t('stope.起始时间')" align="center">
        <template slot-scope="scope">
          <span>{{ scope.row.starting }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('stope.终止时间')" align="center">
        <template slot-scope="scope">
          <span>{{ scope.row.termination }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('stope.充填后方量')" align="center">
        <template slot-scope="scope">
          {{ scope.row.volume }}
        </template>
      </el-table-column>
      <el-table-column :label="$t('stope.平均充填浓度')" align="center">
        <template slot-scope="scope">
          {{ scope.row.average }}
        </template>
      </el-table-column>
            <el-table-column :label="$t('stope.水泥累计消耗')" align="center">
        <template slot-scope="scope">
          {{ scope.row.Cement_cumulative }}
        </template>
      </el-table-column>
      <el-table-column :label="$t('stope.完成进度')" align="center">
        <template slot-scope="scope">
          {{ scope.row.schedule }}
        </template>
      </el-table-column>
      <el-table-column :label="$t('stope.强度检测结果')" align="center">
        <template slot-scope="{row}">
          <template v-if="edit">
            <el-input v-model="row.result" class="edit-input" size="small" style="width: 100px" />
          </template>
          <span v-else @click="edit=!edit">{{ row.result }}</span>
        </template>
      </el-table-column>
      
    </el-table>

    </div>
    </div>
</template>
<script>
import RadarChart from '@/views/stope/details/RaderChart'
import LineChart from '@/views/stope/details/LineChart'
import Three from '@/views/stope/details/3d'
import waves from '@/directive/waves' // waves directive
import { getData } from '@/api/stope-details'
import { updateDetail } from '@/api/stope-details'


export default {
  name: 'Details',
  components: { Three, LineChart, RadarChart },
  directives: { waves },
  data() {
    return {
      loading: true,
      edit: true,
      
      data: {
        tableData1: 
        [{
            'cement_cumulative': 1387,
            'cement_average': 0.08,
            'flocculant_cumulative': 10453,
            'flocculant_average': 21.03
          }],
        tableData2: 
        [{
            'statistical': '底流浓度',
            'mean': '66.60%',
            'standard': 2.6,
            'quarter': '61.60%',
            'threeQuarters': '68.20%'
            },
            {
            'statistical': '充填浓度',
            'mean': '71.40 %',
            'standard': 2.5,
            'quarter': '66.80 %',
            'threeQuarters': '73.20 %'
            }
        ],
        tableData3: [
            { 'rounds': 1, 'starting': '2019/7/17  6:22:00', 'termination': '2019/7/18  6:22:00', 'volume': 1200, 'average': '75%', 'Cement_cumulative': 50 , 'schedule': '20%', 'result': '1.5'},
            { 'rounds': 2, 'starting': '2019/7/18  6:22:00', 'termination': '2019/7/19  6:22:00', 'volume': 2400, 'average': '75%', 'Cement_cumulative': 50 , 'schedule': '20%', 'result': '1.2'}
        ],
        
        details: {
          serial: 0,
          create_time: '0',
          percentage: 0,
          remaining: ''
        }
        }
        
    }
    
  },
  created() {
    this.fetchData()
  },
  methods: {

    fetchData() {
      this.listLoading = true
      this.Loading = true
      console.log("12345"),
      console.log(this.edit)
      getData('main', { stopeId: this.$route.params.id }).then(response => {
        const items = response.data.tableData3
        this.data.tableData3 = items.map(v => {
          this.$set(v, 'edit', false) // https://vuejs.org/v2/guide/reactivity.html
          v.originalTitle = v.result //  will be used when user click the cancel botton
          return v
        })
        this.data.tableData1 = response.data.tableData1
        this.data.tableData2 = response.data.tableData2
        this.data.details = response.data.details
        this.loading = false
      })
    },
    goToDown(){
            
            window.open("http://localhost:25001/stope-details/main/download")   
            
        },


    SubmitChanged(change) {
      
      let y=this.data.tableData3.map(item => {
      return {
        'rounds':item.rounds,
        'result':item.result
        }
      })
      
      updateDetail({ id: this.$route.params.id, data: y }).then(response => {
        // 预期返回：{
        // code: 20000,
        //   data: {
        //   key: 'xxx',
        //     value: 'xxxx'
        // }
        this.data.tableData3 = response.tableData3
        // change.result = change.originalTitle = response.data.tableData3.result
        this.edit = false
        this.$message({
          dangerouslyUseHTMLString: true,
          message: 'The value has been changed.',
          type: 'success'
        })
      })
    },

    cancelEdit() {
      console.log("1234"),
      console.log(this.edit)
     
      this.data.tableData3.forEach(item => {      
        item.result = item.originalTitle
      })          
      this.edit = false
      this.$message({
        dangerouslyUseHTMLString: true,
        message: 'The value has been restored to the original value!',
        type: 'warning'
      })
      console.log(this.edit)
    }
  }
}
</script>
<style>

  .details-info-box > .el-card__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;
  }
</style>
<style lang="scss" scoped>
  .stope-detail-container {
    margin-top: -50px;
    padding-top: 1rem;
  }

  .hero {
    margin-top: 50px;
    align-items: stretch;
    display: flex;

    .box-card{
      border: unset;
      box-shadow: none;
    }
  }

  .details-info {
    padding-left: 0.8rem;
      span {
        display: flex;
        align-items: center;
        height: 60px;
        font-size: 15px;
        line-height: 22px;
        color: #606266;
      }
  }

  .details-table {
    padding-right: 0;

  }

  .edit-input {
  display: inline-block;
  width: calc(10% - 10px);
  vertical-align: middle;
}
.cancel-btn {
  display: inline-block;
  width: 100px;
  vertical-align: middle;
}


.download-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }

.filter-container1 {
  padding-bottom: 10px;

  .filter-item1 {
    // display: inline-block;
    vertical-align: center;
    margin-bottom: 10px;
    Float:center;
    // height:40px
  }
  .filter-item2 {
    display: inline-block;
    vertical-align: left;
    margin-bottom: 10px;
    Float:right;
    height:35px
  }
}


</style>
