<template>
  <div style="width: 100%;" :style="{height: r1height}" class="chart" />
</template>

<script>
import echarts from 'echarts'
import { getData } from '@/api/stope-details'
require('echarts/theme/macarons') // echarts theme
var elementResizeDetectorMaker = require('element-resize-detector')
export default {
  name: 'LineChart',
  data() {
    return {
      r1height: 0,
      dataset: [],
      chart: null
    }
  },
  watch: {
    dataset: {
      handler() {
        this.initChart()
      },
      deep: true
    }
  },
  created() {
    getData('line', { stopeId: this.$route.params.id }).then(response => {
      this.dataset = response.data
    })
  },
  mounted() {
    var erd = elementResizeDetectorMaker()
    var l = this
    erd.listenTo(this.$el, function(element) {
      l.r1height = (element.offsetWidth).toString() + 'px'
      l.$nextTick(() => {
        l.chart.resize()
      })
    })
    this.$nextTick(() => {
      this.initChart()
    })
  },
  methods: {
    initChart() {
      this.r1height = (this.$el.offsetWidth).toString() + 'px'

      this.$nextTick(() => {
        this.chart = echarts.init(this.$el, 'macarons')

        var option = {
          title: {
            text: this.$t('stope.充填浓度'),
            left: 'center',
            textStyle: {
              color: '#000',
              fontWeight: 'bolder'
            }
          },
          tooltip: {
            trigger: 'axis'
          },
          xAxis: {
            data: this.dataset.map(function(item) {
              return item[0]
            })
          },
          yAxis: {
            splitLine: {
              show: false
            }
          },
          dataZoom: [{
            // startValue: '2012-06-01',
          }, {
            type: 'inside'
          }],
          visualMap: {
            top: 10,
            right: 10,
            pieces: [{
              gt: 0,
              lte: 50,
              color: '#096'
            }, {
              gt: 50,
              lte: 100,
              color: '#ffde33'
            }, {
              gt: 100,
              lte: 150,
              color: '#ff9933'
            }, {
              gt: 150,
              lte: 200,
              color: '#cc0033'
            }, {
              gt: 200,
              lte: 300,
              color: '#660099'
            }, {
              gt: 300,
              color: '#7e0023'
            }],
            outOfRange: {
              color: '#999'
            }
          },
          series: {
            name: this.$t('stope.充填浓度'),
            type: 'line',
            data: this.dataset.map(function(item) {
              return item[1]
            }),
            smooth: false,
            markLine: {
              silent: true,
              data: [{
                yAxis: 50
              }, {
                yAxis: 100
              }, {
                yAxis: 150
              }, {
                yAxis: 200
              }, {
                yAxis: 300
              }]
            }
          }
        }
        this.chart.setOption(option, true)
      })
    }
  }
}
</script>

<style scoped>

</style>
