<template>
  <div style="width: 100%;" :style="{height: r1height}" class="chart" />
</template>

<script>
import echarts from 'echarts'
import { getData } from '@/api/stope-details'
require('echarts/theme/macarons') // echarts theme
var elementResizeDetectorMaker = require('element-resize-detector')
export default {
  name: 'RadarChart',
  data() {
    return {
      r1height: 0,
      dataset: [],
      chart: null
    }
  },
  watch: {
    dataset: {
      handler() {
        this.initChart()
      },
      deep: true
    }
  },
  created() {
    getData('radar', { stopeId: this.$route.params.id }).then(response => {
      this.dataset = response.data
    })
  },
  mounted() {
    var erd = elementResizeDetectorMaker()
    var l = this
    erd.listenTo(this.$el, function(element) {
      l.r1height = (element.offsetWidth).toString() + 'px'
      l.$nextTick(() => {
        l.chart.resize()
        console.log(1)
      })
    })
    this.$nextTick(() => {
      this.initChart()
    })
  },
  methods: {
    initChart() {
      this.r1height = (this.$el.offsetWidth).toString() + 'px'

      this.$nextTick(() => {
        this.chart = echarts.init(this.$el, 'macarons')

        var lineStyle = {
          normal: {
            width: 1,
            opacity: 0.5
          }
        }

        var option = {
          backgroundColor: '#fff',
          title: {
            text: this.$t('stope.充填评价'),
            left: 'center',
            textStyle: {
              color: '#000',
              fontWeight: 'bolder'
            }
          },
          radar: {
            indicator: [
              { name: 'AQI', max: 300 },
              { name: 'PM2.5', max: 250 },
              { name: 'PM10', max: 300 },
              { name: 'CO', max: 5 },
              { name: 'NO2', max: 200 },
              { name: 'SO2', max: 100 }
            ],
            shape: 'circle',
            splitNumber: 5,
            nameGap: 12,
            center: ['50%', '53%'],
            name: {
              textStyle: {
                fontSize: 16,
                color: 'rgb(238, 197, 102)',
                fontWeight: 'bold'
              }
            },
            splitLine: {
              lineStyle: {
                color: [
                  'rgba(238, 197, 102, 0.1)', 'rgba(238, 197, 102, 0.2)',
                  'rgba(238, 197, 102, 0.4)', 'rgba(238, 197, 102, 0.6)',
                  'rgba(238, 197, 102, 0.8)', 'rgba(238, 197, 102, 1)'
                ].reverse()
              }
            },
            splitArea: {
              show: true,
              areaStyle: {
                color: ['#161627']
              }
            },
            axisLine: {
              lineStyle: {
                color: 'rgba(238, 197, 102, 0.3)'
              }
            }
          },
          series: [
            {
              type: 'radar',
              lineStyle: lineStyle,
              data: this.dataset,
              symbol: 'none',
              itemStyle: {
                normal: {
                  color: '#F9713C'
                }
              },
              areaStyle: {
                normal: {
                  opacity: 0.1
                }
              }
            }
          ]
        }
        this.chart.setOption(option)
      })
    }
  }
}
</script>

<style scoped>

</style>
