<template>
  <el-tabs v-model="activeName" type="card" class="paste-container">
    <el-tab-pane :label="$t('paste.浓密机')" name="thickener">
      <keep-alive>
        <Thickener v-if="activeName === 'thickener'" />
      </keep-alive>
    </el-tab-pane>
    <el-tab-pane :label="$t('paste.搅拌机')" name="mixer">
      <keep-alive>
        <Mixer v-if="activeName === 'mixer'" />
      </keep-alive>
    </el-tab-pane>
  </el-tabs>
</template>

<script>
import Mixer from '@/views/dashboard/paste-preparation-system/components/mixer'
import Thickener from '@/views/dashboard/paste-preparation-system/components/thickener'

export default {
  name: 'Dashboard',
  components: { Thickener, Mixer },
  data() {
    return {
      activeName: 'thickener'
    }
  }
}
</script>

<style lang="scss">
  .paste-container .el-tabs__nav-wrap {
    width: 100%;
  }
</style>
