<template>
  <section class="app-main">

    <div class="bread-container">
      <hamburger :is-active="sidebar.opened" class="hamburger-container" @toggleClick="toggleSideBar" />
      <breadcrumb class="breadcrumb-container" />

      <div class="right-menu">
        <div class="right-menu-item">
          <el-switch
            v-model="recommand"
            active-color="#13ce66"
            :active-text="$t('navbar.智能推荐')"
          />
        </div>
        <div class="right-menu-item hover-effect" style="line-height: 45px;">
          <svg-icon class-name="settings-icon" icon-class="settings" @click="dialogTableVisible = true" />
        </div>
      </div>
    </div>
    <transition name="fade-transform" mode="out-in">

      <router-view :key="key" />
    </transition>
    <el-dialog custom-class="settings-dialog" :title="$t('settings.设备模式设置')" :visible.sync="dialogTableVisible" center>
      <el-form ref="form" label-width="120px">
        <el-form-item :label="$t('settings.当前用户')">
          <span style="padding-left: 10px">{{ user.name }}</span>
        </el-form-item>
        <el-form-item v-for="i in settings.inst" :key="i.id" :label="i.name">
          <el-radio-group v-model="i.choice">
            <el-radio :label="1" border>{{ $t('settings.不排尾不充填') }}</el-radio>
            <el-radio :label="2" border>{{ $t('settings.只排尾不充填') }}</el-radio>
            <el-radio :label="3" border>{{ $t('settings.不排尾只充填') }}</el-radio>
          </el-radio-group>
          <el-select v-model="i.stope" class="select" :disabled="i.choice!==3" placeholder="">
            <el-option
              v-for="item in user.stopeList"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            />
          </el-select>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="dialogTableVisible = false">{{ $t('settings.save') }}</el-button>
        <el-button @click="dialogTableVisible = false">{{ $t('settings.cancel') }}</el-button>
      </span>
    </el-dialog>
  </section>
</template>

<script>
import { mapGetters, mapState } from 'vuex'
import Breadcrumb from '@/components/Breadcrumb'
import Hamburger from '@/components/Hamburger'

export default {
  name: 'AppMain',
  components: {
    Breadcrumb,
    Hamburger
  },
  data() {
    return {
      recommand: false,
      dialogTableVisible: false,
      settings: { inst: [] }
    }
  },
  computed: {
    ...mapGetters([
      'sidebar'
    ]),
    ...mapState([
      'user'
    ]),
    key() {
      return this.$route.fullPath
    }
  },
  mounted: function() {
    this.initData()
  },
  methods: {
    initData() {
      this.settings = this.user.settings
    },
    toggleSideBar() {
      this.$store.dispatch('app/toggleSideBar')
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "~@/styles/variables.scss";

  .el-radio {
    margin-right: 20px;
  }

  .select {
    width: 150px
  }

  .bread-container {
    width: 100%;
    height: 40px;

    .hamburger-container {
      line-height: 46px;
      height: 100%;
      float: left;
      cursor: pointer;
      transition: background .3s;
      -webkit-tap-highlight-color: transparent;

      &:hover {
        background: rgba(0, 0, 0, .025)
      }
    }

    .breadcrumb-container {
      float: left;
    }

    .right-menu {
      float: right;
      height: 100%;
      line-height: 40px;
      margin-right: 1em;

      &:focus {
        outline: none;
      }

      .right-menu-item {
        display: inline-block;
        padding: 0 8px;
        height: 100%;
        font-size: 18px;
        /*color: #dae0ea;*/
        color: black;
        vertical-align: text-bottom;

        &.hover-effect {
          cursor: pointer;
          transition: background .3s;

          &:hover {
            background: rgba(0, 0, 0, .005)
          }
        }
      }

    }
  }

  .app-main {
    /*50 = navbar  */
    min-height: 100%;
    width: 100%;
    overflow: hidden;
  }

</style>

<style lang="scss">
  .settings-dialog {
    min-width: 1000px;
  }
</style>
