<template>
  <div class="navbar">
    <div class="title"><h2>{{ $t('title') }}</h2></div>

    <div class="right-menu">
      <el-popover
        placement="left-end"
        width="400"
        trigger="click"
        popper-class="emails-outer"
      >

        <el-timeline v-if="emails.length" v-loading="emails_loading" style="padding: 20px 10px 0;">
          <transition-group name="el-fade-in-linear">
            <el-timeline-item v-for="email in email_list" :key="email.id" :timestamp="email.time" placement="top">
              <el-card class="email-item">
                <h4>{{ email.title }}</h4>
                <p>{{ email.content }}</p>
              </el-card>
            </el-timeline-item>
          </transition-group>
        </el-timeline>
        <el-button
          v-show="emails.length"
          style="width: 90%;margin-left: auto;margin-right: auto;display: block;margin-bottom: 15px;"
          @click="cleanEmails"
        >
          清空所有通知
        </el-button>
        <p v-show="!emails.length" style="text-align: center">当前没有邮件</p>
        <div slot="reference" class="right-menu-item hover-effect">
          <el-badge v-show="emails.length" :value="emails.length" :max="10" class="badge">
            <svg-icon class-name="email-icon" icon-class="email" />
          </el-badge>
          <svg-icon v-show="!emails.length" class-name="email-icon" icon-class="email" />

        </div>
      </el-popover>

      <lang-select class="right-menu-item hover-effect" />

      <el-popover
        placement="top-start"
        :title="$t('navbar.information')"
        width="200"
        trigger="hover"
      >
        <p><span>{{ $t('navbar.working_mode') }}：{{ info.bottom_concentration === 'loading'? $t('loading'):$t('navbar.'+info.working_mode) }}</span>
        </p>
        <p><span>{{ $t('navbar.bottom_concentration') }}：{{ info.bottom_concentration === 'loading'? $t('loading'):info.bottom_concentration+'%' }}</span>
        </p>
        <p><span>{{ $t('navbar.downhole_pipeline') }}：{{ info.downhole_pipeline === 'loading'? $t('loading'):info.downhole_pipeline }}</span>
        </p>
        <p><span>{{ $t('navbar.stope') }}：{{ info.stope === 'loading'? $t('loading'):info.stope }}</span></p>
        <p><span>{{ $t('navbar.filling_progress') }}：{{ info.filling_progress === 'loading'? $t('loading'):info.filling_progress.toString()+'%' }}</span>
        </p>
        <div slot="reference" class="right-menu-item hover-effect">
          <svg-icon class-name="information-icon" icon-class="information" />
        </div>
      </el-popover>

      <div class="right-menu-item hover-effect">
        <svg-icon class-name="logout-icon" icon-class="logout" @click="confirm_logout" />
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import LangSelect from '@/components/LangSelect'
import { getEmails } from '@/api/navbar'

export default {
  components: {
    LangSelect
  },
  data() {
    return {
      emails_loading: true,
      emails: [],
      info: {
        working_mode: 'loading',
        bottom_concentration: 'loading',
        downhole_pipeline: 'loading',
        stope: 'loading',
        filling_progress: 'loading'
      }
    }
  },
  computed: {
    email_list() {
      // eslint-disable-next-line vue/no-side-effects-in-computed-properties
      return this.emails.reverse()
    },
    ...mapGetters([
      'sidebar'
    ])
  },
  created() {
    this.fetchEmails()
  },
  methods: {
    fetchEmails() {
      this.emails_loading = true
      getEmails().then(response => {
        this.emails = response.data
        this.emails_loading = false
      }).catch(function(reason) {
        console.log(reason)
      })
    },
    cleanEmails() {
      this.emails = []
    },
    toggleSideBar() {
      this.$store.dispatch('app/toggleSideBar')
    },
    confirm_logout() {
      this.$confirm(this.$t('navbar.logout'), this.$t('navbar.warning'), {
        confirmButtonText: this.$t('navbar.ok'),
        cancelButtonText: this.$t('navbar.cancel'),
        type: 'warning'
      }).then(() => {
        this.logout()
      })
    },
    async logout() {
      await this.$store.dispatch('user/logout')
      this.$router.push(`/login?redirect=${this.$route.fullPath}`)
    }
  },

  sockets: {
    email: function(data) {
      this.emails.push(data)
    },
    realtime: function(data) {
      this.info = data
    }
  }
}
</script>
<style>

  .emails-outer {
    overflow: auto;
    max-height: 80%;
    overflow-x: hidden;
  }

  .badge sup {
    top: 13px !important;
  }
</style>
<style lang="scss" scoped>
  @import "~@/styles/variables.scss";
  .email-item {
    h4 {
      margin-top: 0;
    }

    p {
      margin-bottom: 10px;
    }
  }

  .navbar {
    height: $navBarHeight;
    overflow: hidden;
    position: relative;
    background-color: #2b303b;
    /*box-shadow: 0 1px 4px rgba(0, 21, 41, .08);*/
    box-shadow: 2px 4px 4px rgba(0, 21, 41, 0.48);

    .title {
      display: inline-block;
      line-height: 46px;
      height: 100%;
      float: left;
      cursor: pointer;
      transition: background .3s;
      -webkit-tap-highlight-color: transparent;
      padding: 0 15px;
      font-size: 14px;

      h2 {
        color: whitesmoke;
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 1.2px;
        margin: auto;
      }
    }

    .hamburger-container {
      line-height: 46px;
      height: 100%;
      float: left;
      cursor: pointer;
      transition: background .3s;
      -webkit-tap-highlight-color: transparent;

      &:hover {
        background: rgba(0, 0, 0, .025)
      }
    }

    .breadcrumb-container {
      float: left;
    }

    .right-menu {
      float: right;
      height: 100%;
      line-height: $navBarHeight;
      margin-right: 1em;

      &:focus {
        outline: none;
      }

      .right-menu-item {
        display: inline-block;
        padding: 0 8px;
        height: 100%;
        font-size: 18px;
        /*color: #dae0ea;*/
        color: #f2f7ff;
        vertical-align: text-bottom;

        &.hover-effect {
          cursor: pointer;
          transition: background .3s;

          &:hover {
            background: rgba(220, 220, 220, .25)
          }
        }
      }

    }
  }
</style>
